*.pyc
*.pyc
output/mnist/
output/ga-model/
output/profiling/
output/ql-model/
output/rl-model/
output/sql-model/
output/dql-model/
output/ga-model/*
output/profiling/*
output/ql-model/*
output/rl-model/*
output/sql-model/*
output/dql-model/
